graft docs
graft src
graft ci
graft tests
prune example

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include .readthedocs.yaml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include pyproject.toml
include mypy.ini
include test_requirements.txt
include tox.ini


global-exclude *.py[cod] __pycache__/* *.so *.dylib
